@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EBE6DC;
  font-family: 'Inter', serif;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

header.top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

sup {
  font-size: 30px;
  padding-left: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  
}

.navbar-brand .logo {
  font-size: clamp(30px, 6vw, 50px);
  font-family: 'EB Garamond', serif;

}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.navbar-menu li a {
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #444444;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #23659F;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s;
  text-align: center;
  cursor: pointer;
}

.menu-item .icon {
  display: flex;
  justify-content: center;
  font-family: 'Material Symbols Outlined';
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(255, 239, 239);
}

.menu-item span {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top: 5px;
  color: white;
}



.menu-item:hover {
  background-color: #F1D27A;
  color: #333333;
  transform: scale(1.05);
}

.menu-item:hover span {
  color: #333333;
}
.menu-item:hover .icon {
  
  color: #333333;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
  }
}

/* Acessibilidade */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

