@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=block');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Parkinsans", Arial, Helvetica, sans-serif;
}

/* Container do Menu */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

/* Itens do Menu */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s;
  text-align: center;
  text-decoration: none;
}

/* Ícones */
.menu-item .icon {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Material Symbols Outlined';
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

/* Textos abaixo dos ícones */
.menu-item span {
  font-family: "Parkinsans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  color: white;
}

.menu-item:hover {
  background-color: rgba(123, 166, 222, 0.6);
  transform: scale(1.05);
}

.menu-item:hover .icon {
  color: rgba(123, 166, 222, 0.8);
}
