@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


body {
    background-color: #ffffff;
    font-family: "Parkinsans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Parkinsans", sans-serif;
    font-weight: 400;
    color: #000000;
}

.container {
    padding: 80px 20px 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

#userlist {
    list-style: none;
    padding: 0;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    max-width: 1500px;
}
  
#userlist li {
    background-color: #fff;
    border-left: 6px solid rgb(109, 160, 228);
    padding: 20px;
    width: 370px; /* largura fixa ou responsiva */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    box-sizing: border-box;
}
  
#userlist li:hover {
    transform: scale(1.02);
}